{% extends 'auctions/layout.html' %}
{% load static %}
{% block body %}
    <div class="container mt-3">
        <div class="row text-center">
            <div class="mr-auto">
                <h5>Category: {{ category }}</h5>
            </div>
        </div>
        {% if active == 0 %}
            <div class="row">
                <div class="col-md-5 p-5">
                    <img src="{% static 'auctions/img/no-listings.png' %}" width="80%" alt="">
                </div>
                <div class="col-md-7">
                    <h3 class="mt-5 pt-5">No Active Listings in This Category Yet</h3>
                    <h5 class="pt-2">Please check back soon or</h5>
                    <h5><a href="{% url 'newListing' %}">create</a> a new one.</h5>
                </div>
            </div>
        {% else %}
            {% for item in items %}
                {% if item.status == True %}
                    <div class="card mb-3 mt-5 p-2">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center imageContainer">
                                <img src="{{ item.imageUrl }}" alt="" class="card-img imageThumb">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <a href="{% url 'listing' item.id %}">
                                                <h4 class="card-title">{{ item.title }}</h4>
                                            </a>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            {% if item.status == True %}
                                                <p class="statusActive">Active</p>
                                            {% else %}
                                                <p class="statusClosed">Closed</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="card-text"><b>Description: </b><br>{{ item.description }}</p>
                                    {% if item.status == True %}
                                        {% if item.currentBid == item.initialBid %}
                                            <p><b class="mr-2">Initial bid: </b>${{ item.initialBid }}</p>
                                        {% else %}
                                            <p><b class="mr-2">Initial bid:</b>${{ item.initialBid }}</p>
                                            <p><b class="mr-2">Current bid:</b>${{ item.currentBid }}</p>
                                        {% endif %}
                                    {% else %}
                                        <p><b class="mr-2">Winner:</b>{{ item.winner }}</p>
                                        <p><b class="mr-2">Winning price:</b>${{ item.currentBid }}</p>
                                    {% endif %}
                                    <p class="card-text"><b>Published on: </b><small class="text-muted">{{ item.createdAt }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
    </div>
{% endblock %}