{% extends 'auctions/layout.html' %}
{% load static %}
{% block body %}
    <div class="container mt-3">
        {% if empty %}
            <div class="row">
                <div class="col-md-5 p-5">
                    <img src="{% static 'auctions/img/no-listings.png' %}" width="80%" alt="">
                </div>
                <div class="col-md-7">
                    <h3 class="mt-5 pt-5">There Are No Closed Listings Yet</h3>
                    <h5 class="pt-2">Please check back soon</h5>
                </div>
            </div>
        {% else %}
            
            {% for item in items %}
                <div class="card mb-3 mt-5 p-2">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center p-5">
                            <img src="{{ item.imageUrl }}" alt="" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a href="{% url 'listing' item.id %}">
                                            <h4 class="card-title">{{ item.title }}</h4>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        {% if item.status == True %}
                                            <p class="statusActive">Active</p>
                                        {% else %}
                                            <p class="statusClosed">Closed</p>
                                        {% endif %}
                                    </div>
                                </div><hr>
                                <!-- <p class="card-text"><b>Description: </b><br>{{ item.description }}</p> -->
                                <p><b class="mr-2">Final bid:</b>${{ item.currentBid }}</p>
                                <p><b class="mr-2">Winner:</b>{{ item.winner }}</p>
                                <p class="card-text"><b class="mr-2">Published on: </b><small class="text-muted">{{ item.createdAt }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %} 
    </div>
{% endblock %}