{% extends 'auctions/layout.html' %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mt-4 mx-auto listing-image">
            <img src="{{ listing.image.url }}" class="img-fluid" alt="{{ listing.image.url }}">
        </div>
        <div class="col-md-6 mt-4">
            <h1>{{ listing.title }}</h1>
            {% if listing.status %}
            <div class="card-img">
                <span class="badge badge-pill badge-danger">Active</span>
                {% if request.user == listing.owner %}
                <a href="{% url 'deleteListing' listing.id %}" class="btn btn-danger btn-sm rounded float-right">Delete</a>
                {% endif %}
            </div>
            {% else %}
            <div class="card-img">
                <span class="badge badge-pill badge-dark">Closed</span>
            </div>
            {% endif %}
            <hr>
            <p><strong>Description: </strong><br>{{ listing.description }}</p>
            <div class="row">
                <div class="col-md-8">
                    <h6><strong>Seller: </strong>{{ listing.owner }}</h6>
                    <h6><strong>Initial Bid: </strong>${{ listing.initialBid }}</h6>
                </div>
                <div class="col-md-4">
                    {% if request.user != listing.owner %}
                    {% if user.is_authenticated %}
                    {% if added %}
                    <a href="{% url 'removeFromWatchlist' listing.id %}"
                        class="badge badge-warning p-2 float-right mt-4">
                        <span><i class="fas fa-bookmark mr-2"></i> Remove from watchlist</span>
                    </a>
                    {% else %}
                    <a href="{% url 'addToWatchlist' listing.id %}" class="badge badge-warning p-2 float-right mt-4">
                        <span><i class="fas fa-bookmark mr-2"></i> Add to watchlist</span>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr>
            {% if listing.status %}
                {% if request.user == listing.owner %}
                <div class="row p-4">
                    <div class="col-md-6">
                        {% if listing.currentBid == listing.initialBid %}
                        <h4>No bids have been made yet</h4>
                        <a href="{% url 'closeListing' listing.id %}" class="btn btn-bg btn-primary btn-block disabled" aria-disabled="true">Close listing</a>
                        {% else %}
                        <h4><strong>Current price: </strong> ${{ listing.currentBid }} </h4>
                        <a href="{% url 'closeListing' listing.id %}" class="btn btn-bg btn-primary btn-block">Close listing</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            
            <div class="row">
                <div class="col-md-12">
                    {% if success %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss='alert'>&times</button>
                        {{ success }}
                    </div>
                    {% endif %}
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss='alert'>&times</button>
                        {{ error }}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if request.user != listing.owner %}
                    {% if listing.currentBid != listing.initialBid %}
                    <h4><strong>Current bid: </strong> ${{ listing.currentBid}}</h4>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if request.user != listing.owner %}
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'makeOffer' listing.id %}" method="POST">
                            {% csrf_token %}
                            <label for="new-bid" class="label"><strong>Make an offer</strong></label>
                            <div class="form-group">
                                <input type="number" name="offer" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-block btn-success">Submit bid</button>
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h3 class="mb-3">Closed listed</h3>
                    <h5>The item has been sold in ${{ listing.currentBid }} to</h5>
                    <h5><strong>{{ listing.winner }}</strong></h5>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if listing.status %}
    <div class="row mt-4">
        <div class="col-sm-12 mb-3">
            <h4>Comments ({{ allComm }})</h4>
        </div>
        <div class="col-md-9 mx-auto my-3">
            {% if request.user.is_authenticated %}
            <form action="{% url 'comment' listing.id %}" class="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="comment" cols="30" rows="3" placeholder="Write a comment"
                        required></textarea>
                </div>
                <div class="form-group float-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            {% else %}
            <h5 class="text-center"><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to add comments and make bids for this product.</h5>
            {% endif %}
        </div>
    </div>
    <div class="row my-4">
        {% if allComm == 0 %}
        <div class="col-md-8 mx-auto">
            <p class="text-justify" id="comment">There are no comments yet. Say something about this product.</p>
        </div>
        {% else %}
            {% for comment in comments %}
            <div class="col-md-8 mx-auto border px-3 py-2">
                <label for="comment" class="d-flex justify-content-between"><strong>{{ comment.user }}</strong><span class="text-secondary">{{ comment.createdAt }}</span></label>
                <p class="text-justify" id="comment">{{ comment.comment }}</p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}