{% extends 'auctions/layout.html' %}
{% load static %}
{% block body %}
<div class="container my-4">
    <h2>New Listing Form</h2>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <form method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    {{ field }}
                {% endfor %}
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Submit Listing</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}